<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Sorring Pizza & Grill</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Bestil mad <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shoppingCart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Kurv
          <span class="badge badge-secondary">{{session.cart.totalQty}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/find">Find os</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bruger
        </a>
          {{# if login }}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">Bruger</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/logout">Log ud</a>
            </div>
          {{else}}
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/signup">Skriv op</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/signin">Log ind</a>
            </div>
          {{/if}}
      </li>
    </ul>
  </div>
</nav>
