<div class="row">
  <div class="col-md-6 offset-3">
    <h1>Order accepted</h1>
      <ul class="list-group">
        <li class="list-group-item">Din ordre er godkendt.</li>
        <li class="list-group-item">leveringstidspunkt: kl {{time}} d. {{date}}</li>
      </ul>
  </div>
</div>
