<div class="row">
  <div class="col-md-6 col-sm-6 offset 3">
    <ul class="list-group">
      <li class="list-group-item">
        {{okay}}
      </li>
      <li class="list-group-item">
        {{tid}}
      </li>
    </ul>
  </div>
</div>
